.content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	font-family: 'Open Sans', sans-serif;
}
.menu-toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
}
.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px);
}
.menu-toggle.on .two {
  opacity: 0;
}
.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}
.one, .two, .three {
  width: 100%;
  height: 5px;
  background: black;
  margin: 6px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 4em auto;
  text-align: center;
}
nav ul.hidden {
  display: none;
}
nav ul a {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
  color: white;
  font-size: 3em;
  line-height: 1.5;
  width: 100%;
  display: block;
}
nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.menu-section.on {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}
header {
	position: relative;
	z-index: -1;
}
.headerimg {
	position: relative;
	width: 100%;
}
.text {
	margin: 15px;
	text-align: justify;
}
section {
  padding-top: 50%;
  position: relative;
}
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-top: 10px solid white;
}
#home {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 20px;
	right: 30px;
	color: white;
	background-color: rgba(255, 255, 255, 0.0);
    transition: transform 0.2s linear;
}
#home:hover {
	transform: scale(1.3);
}
@media only screen and (min-width: 600px){
.text {
	font-size: 18px;
}
h4 {
	font-size: 20px;
}
}
@media only screen and (min-width: 800px){
.text {
	font-size: 22px;
}
h4 {
	font-size: 24px;
}
nav ul.hidden {
    position: absolute;
    display: flex;
    margin: 7px;
    font-size: 8px;
    background-color: rgba(176,176,176,0.8);
    width: 97%;
	justify-content: space-around;
	align-items: center;
}
li {
    padding: 0 20px;
}
.menu-toggle {
	display: none;
}
}
@media only screen and (min-width: 1500px) {
.content {
	width: 80wh;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
}